---
import '../styles/global.css';
import { SITE_CONFIG } from '../data/site-config';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

// On fusionne les Props avec notre fichier de config
const {
	title = SITE_CONFIG.siteName,
	description = SITE_CONFIG.description,
	image = SITE_CONFIG.image,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, SITE_CONFIG.url);
---

<!doctype html>
<html lang={SITE_CONFIG.lang} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />

		<title>{title === SITE_CONFIG.siteName ? title : `${title} | ${SITE_CONFIG.siteName}`}</title>
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, SITE_CONFIG.url)} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, SITE_CONFIG.url)} />
	</head>

	<body class="bg-light text-dark antialiased min-h-screen flex flex-col">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
